<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />

        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            <link href="{{ asset('bundles/cv/css/bootstrap.css') }}" rel="stylesheet" />
            <link href="{{ asset('bundles/cv/css/gaia.css') }}" rel="stylesheet"/>

            <!--     Fonts and icons     -->
            <link href='https://fonts.googleapis.com/css?family=Cambo|Poppins:400,600' rel='stylesheet' type='text/css'>
            <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
            <link href="{{ asset('bundles/cv/css/fonts/pe-icon-7-stroke.css') }}" rel="stylesheet">
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>



            <!--  js library for devices recognition -->
            <script type="text/javascript" src="{{ asset('bundles/cv/js/modernizr.js') }}"></script>

            <!--  script for google maps   -->
            <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

            <!--   file where we handle all the script from the Gaia - Bootstrap Template   -->
            <script type="text/javascript" src="{{ asset('bundles/cv/js/gaia.js') }}"></script>        {% endblock %}
    </body>
</html>
